.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(/Mountain.jpg);
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(/Sea.jpg);
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(/Lake.jpg);
}
